<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
        <a class="navbar-brand mr-0 float-left text-dark" href="/">
            <img class="rounded-circle" src="/img/logo.jpg" width="50"  height="50" alt=""/>DemiPati
                <h1 class="navbar-brand text-dark" href="/">&nbsp;&nbsp;&nbsp;Inicio</h1>
        </a>
        <button class="navbar-toggler bg-info rounded-sm" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Notes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-dark" href="/notes">All Notes</a>
                        <a class="dropdown-item text-dark" href="/notes/add">Add A Note</a>
                        <div class="dropdown-divider text-dark"></div>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </li>
                {{else}}
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <div class="publica">
                            <button class="btn btn-danger my-2 my-sm-0 form-control mr-sm-2 rounded-sm">PUBLICA AQUÍ!</button>
                        </div>
                        {{!-- <a href="/users/signup" class="btn btn-outline-primary my-2 my-sm-0 form-control mr-sm-2 rounded-sm" >Regístrate</a> --}}
                        <button type="button" class="btn btn-outline-primary my-2 my-sm-0 form-control mr-sm-2 rounded-sm" data-toggle="modal" data-target="#registroModal">
                            Regístrate
                        </button>
                        {{!-- <a href="/users/signin" class="btn btn-outline-warning my-2 my-sm-0 form-control mr-sm-2 rounded-sm" >Iniciar sesión</a> --}}
                        <button type="button" class="btn btn-outline-warning my-2 my-sm-0 form-control mr-sm-2 rounded-sm" data-toggle="modal" data-target="#inicioModal">
                            Iniciar sesión
                        </button>
                    </form>
                </nav>
                {{/if}}
                {{!-- Modal --}}
                <div class="modal fade" id="inicioModal" tabindex="-1" role="dialog" aria-labelledby="inicioModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="">
                        <div class=" mx-auto">
                            <div class="formulario card text-center" style="border-radius: 10px;">
                                <div class="py-3">
                                    <img src="/img/logo.jpg" class="rounded-circle d-block logo                     img-fluid" alt="placeholder image">
                                </div>
                                <h1 class="h3 mb-3 font-weight-normal text-center                   text-light">¡Bienvenido!</h1>
                                <p style="color: #FFF"> Ingresa a tu cuenta y vive la experiencia                   Demipati. ✨✨✨</p>
                                <div class="card-body">
                                    <form action="/users/signin" method="POST">
                                        <div class="form-group">
                                            <input type="email" class="form-control rounded-sm"                     name="email" placeholder="Correo Universitario">
                                            <p style="margin-bottom: 0em; color: #FFF"                  class="text-right" ><b>¿No tienes una cuenta?</b></p>
                                            <a href="/users/signup" style="color: #F19900;"                     class="text-right"><h6 class="text-right">Regístrate</                  h6></a>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control                  rounded-sm" name="password" placeholder="Contraseña">
                                            <a href="/" style="color: #F19900;"                     class="text-right"><h6 class="text-right">¿Se te                    olvidó tu contraseña?</h6></a>
                                        </div>
                                        <div class="checkbox mb-3 text-left">
                                                <label style="color: #FFF">
                                                    <input type="checkbox" value="remember-me" /                    >Recordarme
                                                </label>
                                            </div>
                                        <button class="btn btn-primary btn-block rounded-sm" >
                                            Signin
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>  
                <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registroModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="">
                            <div class="mx-auto">
                                <div class="formulario card-body text-center" style="border-radius: 10px;">
                                    <div class="py-3">
                                        <img src="/img/logo.jpg" class="rounded-circle d-block logo img-fluid" alt="placeholder image">
                                    </div>
                                    <h1 class="h3 mb-3 font-weight-normal text-center text-light">¡Regístrate!</h1>
                                    <div class="card-body">
                                        <form action="/users/signup" method="POST"> 
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input type="text" class="form-control rounded-sm" name="name" placeholder="Nombres" value="{{name}}" >
                                                </div>
                                                {{!-- <div class="col-md-6 form-group">
                                                    <input type="text" class="form-control rounded-sm" name="name" placeholder="Apellidos" value="{{name}}" >
                                                </div> --}}
                                            </div>
                                            <div class="row">
                                                {{!-- <div class="col-md-6 form-group">
                                                    <input type="text" class="form-control rounded-sm" name="name" placeholder="Código Universitario" value="{{name}}" >
                                                </div> --}}
                                                <div class="col-md-6 form-group">
                                                    <input type="email" class="form-control rounded-sm" name="email" placeholder="Correo Universitario" value="{{email}}" >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input type="password" class="form-control rounded-sm" name="password" placeholder="Contraseña" value="{{password}}" >
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="password" class="form-control rounded-sm" name="confirm_password" placeholder="Repita Contraseña" value="{{confirm_password}}" >
                                                </div>
                                            </div>
                                            <div class="form-group form-check text-left">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck2"/>
                                                <label class="form-check-label" htmlFor="exampleCheck2" style="color: #FFF">Términos y condiciones</label>
                                            </div>
                                            <button class="btn btn-primary btn-block rounded-sm" >
                                                Registrarse
                                            </button>
                                        </form>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>  
            </ul>
        </div>
    </div>
</nav>