{{!-- <div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}" >
                    </div>
                    <div class="form-group">    
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}">
                    </div>
                    <button class="btn btn-primary btn-block" >
                        Signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div> --}}

<div class="py-2">
    <div class="col-md-5 mx-auto">
        <div class="formulario card text-center" style="border-radius: 10px;">
            <div class="py-3">
                <img src="/img/logo.jpg" class="rounded-circle d-block logo img-fluid" alt="placeholder image">
            </div>
            <h1 class="h3 mb-3 font-weight-normal text-center text-light">¡Regístrate!</h1>
            <div class="card-body">
                <form action="/users/signup" method="POST"> 
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control rounded-sm" name="name" placeholder="Nombres" value="{{name}}" >
                        </div>
                        {{!-- <div class="col-md-6 form-group">
                            <input type="text" class="form-control rounded-sm" name="name" placeholder="Apellidos" value="{{name}}" >
                        </div> --}}
                    </div>
                    <div class="row">
                        {{!-- <div class="col-md-6 form-group">
                            <input type="text" class="form-control rounded-sm" name="name" placeholder="Código Universitario" value="{{name}}" >
                        </div> --}}
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control rounded-sm" name="email" placeholder="Correo Universitario" value="{{email}}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="password" class="form-control rounded-sm" name="password" placeholder="Contraseña" value="{{password}}" >
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="password" class="form-control rounded-sm" name="confirm_password" placeholder="Repita Contraseña" value="{{confirm_password}}" >
                        </div>
                    </div>
                    <div class="form-group form-check text-left">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2"/>
                        <label class="form-check-label" htmlFor="exampleCheck2" style="color: #FFF">Términos y condiciones</label>
                    </div>
                    <button class="btn btn-primary btn-block rounded-sm" >
                        Registrarse
                    </button>
                </form>
            </div> 
        </div>
    </div>
</div>